<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="UTF-8" />
<title>Employee</title>

</head>
 <div class="container">
       <div class="container">
        <div class="login">
        <form action="create" method="post">
        <input type="Text" name="name" placeholder="Enter Your name"><br>
        <input type="email" name="email"  id="email" placeholder="Enter the email address"><br>
        <input type="password" name="password"  id="pass" placeholder="Enter the Password"><br>
        <input type="submit" value="create">
        </form>
    </div>
    </div>
</body>
</html>
